.custom_select {
	position: relative;
	width: 100%;
	cursor: pointer;

	&_value {
		width: 100%;
		display: flex;
		align-items:center;
		padding-right: 15px;

		.custom_select_input {
			width: 100%;
			height: 100%;
			cursor: pointer;
			border: none;
			outline: none;
			background-color: var(--menu-bg);
			border-radius: 47px;
		}
	}

	&_options {
		position: absolute;
		width: 100%;
		left: 0;
		top: 50px;
		// visibility: hidden;
		display: flex;
		flex-wrap: wrap;	
		padding: 15px;
		background-color: var(--menu-bg);
		border-radius: 47px;
		z-index: 1000000000;

	}
}